<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <Properties>
        <Property name="LOG_PATTERN">
            %d{yyyy-MM-dd HH:mm:ss.SSS} %5p %-40.40c{1.} : %m%n%ex
        </Property>
    </Properties>
    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>
        <File name="FileAppender" fileName="data/logs/deduplication_log.csv" bufferedIO="true" advertiseURI="file:data/logs/deduplication_log.csv" advertise="true">
		</File>
    </Appenders>
    <Loggers>
        <Logger name="org.imsi.queryEREngine.apache.calcite.plan.RelOptPlanner" level="warn" additivity="false">
            <AppenderRef ref="ConsoleAppender" />
        </Logger>
		<Logger name="org.imsi.queryEREngine.apache.calcite.plan.hep.HepPlanner" level="warn" additivity="false">
            <AppenderRef ref="ConsoleAppender" />
        </Logger>
        <Logger name="org.imsi.queryEREngine.imsi.calcite.util.DeduplicationExecution" level="debug" additivity="true">
            <AppenderRef ref="FileAppender" />
        </Logger>
        
        <Root level="info">
            <AppenderRef ref="ConsoleAppender" />
        </Root>
    </Loggers>
</Configuration>